AdinistrationApp_eNutre/Service References/ServiceAppNutre/ServiceAppNutre1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appnutrewebservice.apphb.com/ServiceAppNutre.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" />
  <xs:import schemaLocation="http://appnutrewebservice.apphb.com/ServiceAppNutre.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="activity" nillable="true" type="q2:Activity" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addActivityXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activitiesXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addActivityXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="plate" nillable="true" type="q3:Plate" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addRestaurantXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platesXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRestaurantXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="vegetable" nillable="true" type="q4:Vegetable" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVegetableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addVegetableXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vegetablesXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVegetableXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="getActivitiesListResult" nillable="true" type="q5:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="GetRestaurantsListResult" nillable="true" type="q6:ArrayOfPlate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVegetablesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVegetablesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="getVegetablesListResult" nillable="true" type="q7:ArrayOfVegetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePlate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removePlateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeVegetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeVegetableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaloriesByActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaloriesByActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCaloriesByActivityResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaloriesByVeggie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaloriesByVeggieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCaloriesByVeggieResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaloriesByPlate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaloriesByPlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCaloriesByPlateResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesListByCalories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calories" type="xs:int" />
        <xs:element minOccurs="0" name="unity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesListByCaloriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="getActivitiesListByCaloriesResult" nillable="true" type="q11:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVegetablesListBycalories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calories" type="xs:int" />
        <xs:element minOccurs="0" name="unity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVegetablesListBycaloriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="getVegetablesListBycaloriesResult" nillable="true" type="q12:ArrayOfVegetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="GetActivityByIdResult" nillable="true" type="q13:Activity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="GetPlateByIdResult" nillable="true" type="q14:Plate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="GetVegetableByIdResult" nillable="true" type="q15:Vegetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="activity" nillable="true" type="q16:Activity" />
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="plate" nillable="true" type="q17:Plate" />
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WebserviceAppNutre" minOccurs="0" name="vegetable" nillable="true" type="q18:Vegetable" />
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVegetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVegetableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>